@{
    ViewBag.Title = "Lista de casas de la inmobiliaria";
}

<div class="row-fluid metro">
    <div class="span12">
        
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Direccion</th>
                    <th>Detalles</th>
                    <th>Interesados</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr> 
                        <td>@m.Address</td>
                        <td>@m.Details</td>
                        <td><a href="@Url.Action("Edit", "Interested", new {id=0, houseId = m.Id })">
                                <span class="win-label">Add</span>
                            </a>&nbsp;
                            <a href="@Url.Action("Index", "InterestedSelection", new {houseId = m.Id })">
                                <span class="win-label">Watch</span>
                            </a>&nbsp;
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "House", new { id = m.Id, realtyId = m.Realty.Id})">
                                <span class="icon icon-pencil"/>
                            </a>&nbsp;
                            <a href="@Url.Action("Delete", "House", new { id = m.Id })">
                                <span class="icon icon-remove-3"/>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<footer class="win-ui-dark win-commandlayout navbar-fixed-bottom">
    <div class="container">
        <div class="row-fluid metro">
            <div class="span1 offset10">
                <a class="win-command" href="@Url.Action("Index", "Realty")"> 
                    <span class="win-label">Volver</span>
                </a>
            </div>
        </div>
    </div>
</footer>

